body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 50px;
    color: #ec4b74;
}

h3 {
    font-size: 30px;
}

p {
    color: dimgray;
    margin-bottom: 7%;
}

.half-width {
    width: 30%;
    float: left;
    margin-left: 15%;
    padding: 5%;
}

.half-width-content {}

.half-width img {
    width: 100%;
    height: 100%;
}

.img-width {
    width: 35%;
    float: left;
    margin-left: 2%;
    margin-top: 10%;
    padding-left: 0;
}

.img-width img {
    width: 100%;
    height: 100%;
}

section {
    height: 900px;
    padding-bottom: 150px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, #ec4e8d, #ec4b74);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}

.header-banner {
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}

.biography {
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}

.latest-work {
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
}