body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

section {
    height: 500px;
}

.biography {
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}

.header {
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}