body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    color: dimgray;
}

section {
    height: 700px;
    padding-bottom: 250px;
}

.biography {
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}

.header-part {
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    height: fit-content;
}

.half-width {
    width: 30%;
    float: left;
    margin: 5%;
    padding-left: 5%;
    padding-top: 10%;
}

.half-width img {
    width: 100%;
}