    body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
    }
    
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    p {
        color: dimgray;
    }
    
    section {
        height: 800px;
        padding-top: 250px;
    }
    
    .biography {
        background-image: url("images/biography-bg.png");
        background-repeat: no-repeat;
    }
    
    .header-part {
        background-image: url("images/header-bg.png");
        background-repeat: no-repeat;
    }